#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  min-height: 100vh;
  width: 100%;
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: #000;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

.navbar .logo {
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: #ffffff;
}

.navbar .logo:hover {
  color: cyan;
}

.navbar-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links li {
  margin-left: 2.5rem;
}

.navbar-links ul li a {
  font-size: 1.57rem;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}

.navbar-links ul li a.active,
.navbar-links ul li a:hover {
  color: cyan;
  border-bottom: 0.2rem solid cyan;
  padding: 0.5rem 0;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #ffffff;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navbar-links {
    position: fixed;
    top: 6.5rem;
    right: -120%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #0e0f31;
    transition: 0.3s;
  }

  .navbar-links.active {
    right: 0;
  }

  .navbar-links ul {
    flex-direction: column;
    padding: 1rem;
  }

  .navbar-links ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
  }

  .navbar-links ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 2rem;
  }
}
